<!DOCTYPE html>
<html>
<head>
<title><%= title %> 送信確認</title>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" />
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
<script>
$(document).on('pageshow','#index',function(){
	$('#amend').on('vclick',function(){
		location.href = 'mailform';
	});
});
</script>
</head>
  <body>
  	<div data-role="page" id="index">
  	<header data-role="header">
  		 <h1><%= title %> 送信確認</h1>
  	</header>
  	<section data-role="content">
	    <h2><%= title %></h2>
	    <p>以下の内容でよろしければ、送信ボタン押してください。</p>
	    <form method="post" action="complete" data-ajax="false">
	    	<fieldset>
	    		<label for="subject">件名</label>
	    		<input type="text" name="subject" id="subject" value="<%= subject %>" placeholder="件名を入力してください" readonly>
	    	</fieldset>
	    	<fieldset>
	    		<label for="name">お名前</label>
	    		<input type="text" name="name" id="name" value="<%= name %>" placeholder="あなたのお名前を入力してください" readonly>
	    	</fieldset>
	    	<fieldset>
	    		<label for="email">メールアドレス</label>
	    		<input type="email" name="email" id="email" value="<%= email %>" placeholder="あなたのメールアドレスを入力してください" readonly>
	    	</fieldset>
	    	<fieldset>
	 		   	<label for="content">内容</label>
	  		  	<textarea name="content" id="content" placeholder="お問い合わせ内容を入力してください" readonly><%= content %></textarea>
	    	</fieldset>
	    	<fieldset class="ui-grid-a">
	    		<div class="ui-block-a">
	    			<input type="button" id="amend" name="" value="修正" data-theme="a">
	    		</div>
	    		<div class="ui-block-b">
	    			<input type="submit" name="" value="送信" data-theme="b">
	    		</div>
	    	</fieldset>
	    </form>
    </section>
    <footer data-role="footer" data-position="fixed">
    	<h4>Copyright &copy; <%= copyright%></h4>
    </footer>
    </div>
  </body>
</html>